


/* variable declaration */

:root{
    --nav-text-color: #505050;
    --background-color: #fff;
    --main-bg-color: #FFFFFF;
    --title-text: "Poppins", sans-serif;
    --nav-menu-text: "Inter", sans-serif;
    --body-text: "DM Sans", sans-serif;
    --body-text-color: #7f7e7e;
    --rating-color: #ED7239;
    --btn-color: #EB662B;
    --nav-bg-color:  #FBE6BE;
    --footer-bg-color: #383838;
    --title-text-color: rgb(59, 59, 59);
    --card-color: #F5F3EE;
}


body{
    background-color: var(--background-color);
    margin: 0;
}

/* navbar and logo styles */

.navbar{
    background-color: var(--card-color);

}
.menu-link{
    text-decoration: none;
    color: var(--nav-text-color);  
}

.menu-link:hover{
    border-bottom: 1px solid rgb(1, 187, 147);
}


.nav-icon{
    margin-right: 10px;
    color: black;
}

.nav-menu-list{
    text-decoration:none;
    text-align: left;
    font-family: var(--nav-menu-text);
    list-style-type: none; 
    position: relative;
    top: 120px;
}
.nav-menu{
    margin: 27px 0;
    font-family: var(--nav-menu-text);
    font-size: 1rem;
}


.logo-img{
    background-color: #EC662B;
    color: white;
    padding: 1px 3px;
    border-radius: 2px;
    margin-right: 2px;
}
.logo{
    color: rgb(58, 58, 252);
    font-family: var(--title-text);
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 1.2rem;
    font-style: italic;
    text-decoration: none;
    margin: 40px;
    padding: 8px;
    display: inline;
    position: relative;
    top: 30px;
    background-color: var(--nav-bg-color);
}

.nav-menu-div{
    padding: 30 30px 30px 20px;
    display: inline-block;
}
.navbar{
    display: inline-block;
    width: 15vw;
    height: 100vh;
    border: 1px solid rgb(59, 59, 59);
}

.log-out{
    position: relative;
    top: 220px;
    left: 10px;
}


/* ----------------------------------------------- */

/* Dashboard style */

.dashboard-body{
    display: inline-block;
    width: 80vw;
    text-align: left;
    position: absolute;
    bottom: 20px;

}

.dashboard-title, .user-name{
    margin: 15px;
}

.dashboard-title{
    font-family: var(--title-text);
    color: var(--title-text-color);
    font-weight: 600;
    margin-bottom: 10px;

}

.user-name{
    font-family: var(--body-text);
    color: var(--nav-text-color);
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 0;
}


/* recent expense style */

.recent-expense{
    margin-left: 15px;
    display: inline-block;
    width: 20vw;
    height: 80vh;
    border: 1px solid #ffb836;
    border-radius: 7px;
}

.current-balace-div{
    background-color: var(--card-color);
    padding: 10px;
    border: 1px solid #383838;
    border-radius: 7px;
}

.current-balance-title{
    font-family: var(--title-text);
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--title-text-color);
}

.recent-expense-title{
    font-family: var(--title-text);
    color: var(--title-text-color);
    font-weight: 400;
    
}
.date{
    font-family: var(--body-text);
    color: var(--body-text-color);

}
.recent-expense-list{
    margin-left: 15px;
    text-align: center;
}

/* expense cart style */

.expense-cart-div{
    background-color: #F7D16A;
    border-radius: 7px;
    
}
.expense-title, .expense-money, .time{
    display: inline-block;
}

